#
# Messaging Properties
#
BrokerURL = vm://localhost
BrokerConnectionURL = tcp://0.0.0.0:61616

#
# Rest Properties
#
RestServerURI = http://0.0.0.0:18887/

#
# Logging Properties
# (severe, warning, info, fine, finer, finest)
#
LogFile = serverlog.html
LogLevel = info
ConsoleLogging = true

#
# Storage Properties
#
StoragePath = dataModel.ser